html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
}

aside {
    padding: 1em 2em;
}

canvas {
    min-width: 0;
    flex: auto;
}

input[type=range] {
    display: block;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-moz-range-track, input[type=range]::-webkit-slider-runnable-track {
    background: #eee;
}

input[type=range]::-moz-range-progress {
    background: #66f;
}
